N8N_BASIC_AUTH_ACTIVE=true
N8N_BASIC_AUTH_USER=
N8N_BASIC_AUTH_PASSWORD=
N8N_HOST=
N8N_PORT=5678
N8N_PROTOCOL=https
NODE_ENV=production
NGROK_AUTHTOKEN=
NGROK_DOMAIN=
NGROK_REGION=sa  # (sa = South America; ou us, eu, ap, etc.)
WEBHOOK_URL=
GENERIC_TIMEZONE=America/Sao_Paulo
